body {
  padding: 10px;
}

input {
  margin: 10px;
}

.input {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

button {
  margin-left: 15px;
}

textarea { 
  margin: 10px;
  padding: 20px;
}


